{% extends "base.html" %}

{% block content %}

{% include "nav.html" %}

<div class="d-flex justify-content-center ">
    <div class="container">
        <div class="row">
          <div class="col" style="max-width: 200px;">
            <div class="single category">
                <h3 class="side-title">Category</h3>
                <ul class="list-unstyled">
                {% for i in categories %}

                    <li><a href="{% url 'category' i.id %}" title="">{{ i.name }} <span class="pull-right"> {{ i.product_count }} </span></a></li>

                {% endfor %}
                </ul>
            </div>
          </div> 

            <section class="py-5 col">
                <div class="container px-4 px-lg-5 mt-5">
                  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                      {% for i in products %}
                      <div class="col mb-5">
                          <!-- cards -->
                          <div class="card h-100">

                              <!-- Product image-->
                              <img class="card-img-top" src="{{ i.image.url }}" alt="..." />

                              <!-- Product details-->
                              <div class="card-body p-4">
                                  <div class="text-center">

                                      <!-- Product name-->
                                      <h5 class="fw-bolder">{{ i.name }}</h5>

                                      <!-- Product price-->
                                      {{ i.prize }}
                                  </div>
                              </div>

                              <!-- Product actions-->
                              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                  <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' i.id %}">View options</a></div>
                              </div>
                          </div>
                          
                      </div>
                      {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
        
{% endblock %}
